[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
djangorestframework = "*"
pillow = "*"
drf-yasg = "*"
django-heroku = "*"
coreapi = "*"
gunicorn = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.django-phonenumber-field]
extras = [ "phonenumberslite",]
