<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">

<div class="section" style='width:50vw; margin: 100px auto; text-align:center; font-family: "Open Sans", sans-serif;'>
    <p><h2>Account Activated Successfully</h2></p>
    <a href="https://roshax.netlify.app/login" style="padding: 10px 20px; background-color: #DB3F70; color: #fff; text-decoration:none;margin: 20px;" target='_blank'>Login</a>
</div>